.form-field {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.form-field > input,
.form-field > select {
  font-family: inherit;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  outline: none;
}

.form-field > input:focus,
.form-field > select:focus {
  border-color: #535bf2;
}

.short-summary-box {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  border-radius: 4px;
  background-color: #535bf2;
}

.short-summary-data {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}

.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 2px 4px;
}

.accordion > span {
  display: inline-block;
  font-size: 1.6rem;
}

.panel {
  padding: 2px 4px;
  display: none;
}

.visible {
  display: block;
}
